<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmarvick.phonealert"
    android:versionCode="4"
    android:versionName="0.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.telephony" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name="com.mmarvick.phonealert.CallAlert" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mmarvick.phonealert.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mmarvick.phonealert.UserSettingActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.mmarvick.phonealert.ContactListActivity" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mmarvick.phonealert.ContactListActivity" />
        </activity>
        <activity
            android:name="com.mmarvick.phonealert.ContactListActivity"
            android:label="@string/title_activity_contact_list"
            android:parentActivityName="com.mmarvick.phonealert.MainActivity" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mmarvick.phonealert.MainActivity" />
        </activity>
    </application>

</manifest>
