<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmarvick.urgentcall">

    <uses-feature android:name="android.hardware.telephony" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.mmarvick.urgentcall.background.CallAlertBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.mmarvick.urgentcall.background.TextAlertBroadcastReceiver">
            <intent-filter>
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mmarvick.urgentcall.activities.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <receiver android:name = "com.mmarvick.urgentcall.background.SnoozeReset" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service android:name=".background.AlarmServiceCall" />

        <service android:name=".background.AlarmServiceText" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="1b357c1006d3adfa2da3cf0e7ad0c8373462ca37" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
